<%- include("../partials/head"); %>

    <body>




        <%- include("../partials/topbar"); %>

            <div class="container-fluid position-relative p-0">
                <%- include("../partials/navbar"); %>

                <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
                    <div class="row py-5">
                        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                            <h1 class="display-4 text-white animated zoomIn mb-3">About Us</h1>
                            <a "https://demo.htmlcodex.com/pro/startup/href" class="h5 text-white">Home</a>
                            <i class="fa fa-angle-double-right text-white px-2"></i>
                            <a "https://demo.htmlcodex.com/pro/startup/href" class="h5 text-white">About</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="searchModal" tabindex="-1">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                        <div class="modal-header border-0">
                            <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex align-items-center justify-content-center">
                            <div class="input-group" style="max-width: 600px;">
                                <input type="text" class="form-control bg-transparent border-primary p-3"
                                    placeholder="Type search keyword">
                                <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            


            <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container py-5">
                    <div class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
                        style="max-width: 600px;">
                        <h5 class="fw-bold text-primary text-uppercase">QUI SOMMES-NOUS?</h5>
                        <h1 class="mb-0">Nos domaines d'intervation</h1>
                    </div>
                    <div class="container story position-relative">
                        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-12 text-md-center">
                                <div class="d-inline-block bg-primary text-white rounded py-2 px-4">Actualité</div>
                            </div>
                        </div>
                        <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-6 text-md-end">
                            </div>
                            <div class="col-md-6">
                                <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                                    <h4>Mission</h4>
                                    <p class="m-0"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 story-left position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-6 d-block d-md-none">
                                
                            </div>
                            <div class="col-md-6 text-md-end">
                                <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                                    <h4>Engagement</h4>
                                    <p class="m-0"></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block">
                             
                            </div>
                        </div>
                        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-12 text-md-center">
                                
                            </div>
                        </div>
                        <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-6 text-md-end">
                                
                            </div>
                            <div class="col-md-6">
                                <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                                    <h4>Vision</h4>
                                    <p class="m-0"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 story-left position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-6 d-block d-md-none">
                                
                            </div>
                            <div class="col-md-6 text-md-end">
                                <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                                    <h4>Valeurs</h4>
                                    <p class="m-0"></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-none d-md-block">
                               
                            </div>
                        </div>
                        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-12 text-md-center">
                                
                            </div>
                        </div>
                        <div class="row gx-5 story-right position-relative mb-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-md-6 text-md-end">
                               
                            </div>
                            <div class="col-md-6">
                                <div class="story-text position-relative d-inline-block bg-light p-4 ms-3 ms-md-0">
                                    <h4>Rse</h4>
                                    <p class="m-0"></p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row wow fadeInUp" data-wow-delay="0.1s">
                            <div class="col-12 text-md-center">
                                <div class="d-inline-block bg-primary text-white rounded py-2 px-4">Lancez-vous</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




           <%- include("../partials/footer"); %>

            <%- include("../partials/script"); %>
    </body>

    </html>